PyMongo:
-------------

PyMongo is a MongoDB driver to access MongoDB database.

Navigate your command line to the location of PIP, and type the following:

Install pymongo using below command :
---------------------------------------------------------
 python -m pip install pymongo
 
base) C:\Users\Dharun> python -m pip install pymongo
Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/5b/df/d0f82279467c72dd0c8cd1908e04a7fb56145a5d222704722e2593af79f1/pymongo-3.10.1-cp37-cp37m-win_amd64.whl (354kB)
     |████████████████████████████████| 358kB 1.1MB/s
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1

In [ ]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
#Return a list of databases:
print(myclient.list_database_names())

In [ ]:
#In MongoDB, a databae/collection is not created until it gets content, 
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

print(myclient.list_database_names())

mydict = { "name": "John", "address": "Highway 37" }

#insert a record
#input - Dict/Json
x = mycol.insert_one(mydict)

print(x.inserted_id)

print(myclient.list_database_names())

> use mydatabase
switched to db mydatabase
> show collections
customers
> db.customers.find()
{ "_id" : ObjectId("5f07c64d48d92b2292e37f61"), "name" : "John", "address" : "Highway 37" }

In [ ]:
#Insert Multiple Documents
#input - list of Dict(Json)
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

> db.customers.find()
{ "_id" : ObjectId("5f07c64d48d92b2292e37f61"), "name" : "John", "address" : "Highway 37" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f62"), "name" : "Amy", "address" : "Apple st 652" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f63"), "name" : "Hannah", "address" : "Mountain 21" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f64"), "name" : "Michael", "address" : "Valley 345" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f65"), "name" : "Sandy", "address" : "Ocean blvd 2" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f66"), "name" : "Betty", "address" : "Green Grass 1" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f67"), "name" : "Richard", "address" : "Sky st 331" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f68"), "name" : "Susan", "address" : "One way 98" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f69"), "name" : "Vicky", "address" : "Yellow Garden 2" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6a"), "name" : "Ben", "address" : "Park Lane 38" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6b"), "name" : "William", "address" : "Central st 954" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6c"), "name" : "Chuck", "address" : "Main Road 989" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6d"), "name" : "Viola", "address" : "Sideway 1633" }

In [ ]:
#Insert Multiple Documents, with Specified IDs

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

> db.customers.find()
{ "_id" : ObjectId("5f07c64d48d92b2292e37f61"), "name" : "John", "address" : "Highway 37" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f62"), "name" : "Amy", "address" : "Apple st 652" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f63"), "name" : "Hannah", "address" : "Mountain 21" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f64"), "name" : "Michael", "address" : "Valley 345" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f65"), "name" : "Sandy", "address" : "Ocean blvd 2" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f66"), "name" : "Betty", "address" : "Green Grass 1" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f67"), "name" : "Richard", "address" : "Sky st 331" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f68"), "name" : "Susan", "address" : "One way 98" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f69"), "name" : "Vicky", "address" : "Yellow Garden 2" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6a"), "name" : "Ben", "address" : "Park Lane 38" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6b"), "name" : "William", "address" : "Central st 954" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6c"), "name" : "Chuck", "address" : "Main Road 989" }
{ "_id" : ObjectId("5f07c72e48d92b2292e37f6d"), "name" : "Viola", "address" : "Sideway 1633" }

In [ ]:
#Find the first document in the customers collection:
x = mycol.find_one()

print(x)

In [ ]:
#Return all documents in the "customers" collection, and print each document:

for x in mycol.find():
  print(x)

In [ ]:
#Return only the names and addresses, not the _ids:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

In [ ]:
#This example will exclude "address" from the result:
#If you specify a field with the value 0, all other fields get the value 1, and vice versa:
for x in mycol.find({},{ "address": 0 }):
  print(x)

In [ ]:
#Advanced Query
#Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

In [ ]:
#Filter With Regular Expressions
myquery = { "address": { "$regex": "^[YS].+[12]$" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

In [ ]:
#Sort the result alphabetically by name in ascending order:
#sort("name", 1) #ascending
#sort("name", -1) #descending

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

In [ ]:
#Sort the result alphabetically by name in ascending order:
#sort("name", 1) #ascending
#sort("name", -1) #descending

mydoc = mycol.find().sort("name",-1)

for x in mydoc:
  print(x)

Documents with the address "Mountain 21":
{ "_id" : ObjectId("5f07c72e48d92b2292e37f63"), "name" : "Hannah", "address" : "Mountain 21" }
{ "_id" : 3, "name" : "Amy", "address" : "Apple st 652" }

In [37]:
#Delete the document with the address "Mountain 21":
myquery = { "address": "Mountain 21" }
mycol.delete_one(myquery)

After deletign a record
> db.customers.find({ "address": "Mountain 21" })
{ "_id" : 4, "name" : "Hannah", "address" : "Mountain 21" }

In [39]:
#Delete Many Documents
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [40]:
#Delete all documents in the "customers" collection:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

22  documents deleted.

In [53]:
#Delete the "customers" collection:
mycol.drop()

In [54]:


mydb = myclient["mydatabase"]
mycol = mydb["customers"]

query1 = { "name": "John", "address": "Highway 37" }
query2 = { "name": "Shlomo", "address": "Highway 38" }

mycol.insert_one(query1)
mycol.insert_one(query2)



newquery = { "address": {"$regex": "^H"} }
mydoc = mycol.find(newquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f07ce7048d92b2292e37f76'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f07ce7048d92b2292e37f77'), 'name': 'Shlomo', 'address': 'Highway 38'}

In [55]:
#MongoDB Update
myquery = { "address": "Highway 37" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5f07ce7048d92b2292e37f76'), 'name': 'John', 'address': 'Canyon 123'}
{'_id': ObjectId('5f07ce7048d92b2292e37f77'), 'name': 'Shlomo', 'address': 'Highway 38'}

In [56]:
#Update Many
#Update all documents where the address starts with the letter "C|H":
myquery = { "address": { "$regex": "^[CH]" } }
newvalues = { "$set": { "address": "Saffron Heights" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

#print "customers" after the update:
for x in mycol.find():
  print(x)

2 documents updated.
{'_id': ObjectId('5f07ce7048d92b2292e37f76'), 'name': 'John', 'address': 'Saffron Heights'}
{'_id': ObjectId('5f07ce7048d92b2292e37f77'), 'name': 'Shlomo', 'address': 'Saffron Heights'}

In [57]:
#Limit the Result
myresult = mycol.find().limit(1)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5f07ce7048d92b2292e37f76'), 'name': 'John', 'address': 'Saffron Heights'}